header {
    height: 40px;
}

.container {
    height: calc(100vh - 40px);
    width: 100%;
}

.questions-panel {
    min-width: 40vw;
}

#showHighScoresLink {
    text-decoration: underline;
    color: blue;
}
#showHighScoresLink:hover {
    cursor: pointer;
}